.hero-wrapper{

    color:white;
    position: relative;
    padding-bottom: 2rem;

}
.hero-des{
    font-weight: 500;

}
.hero-container{
justify-content: space-between;
align-items: flex-end;

}
.secondary-text{
    color:rgba(140, 139, 139);
    font-size: 1rem;
}
.secondary-text-2{
 
    color: #ffffffc7;
    font-size: 1.2rem;
  }
/*Right Side*/

.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border:4px solid rgba(235, 221, 205, 0.12);
}
.image-container>img{
    width: 100%;
    height: 100%;
}
/*Left Side*/

.hero-left{
    gap: 3rem;
    padding-bottom: 7rem;
}
.hero-title{
    position: relative;
    z-index: 1;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}
.orange-circle{
 height: 4rem;
 width: 4rem;
 background: var(--orange-gradient);
 border-radius: 999px;
 position: absolute;
 right: -10%;
 top: -15%;
 z-index: -1;

}
.hero-button{
    width: 20rem;
    justify-content: space-between;
}