.alert-container {
    margin: 15px;
    display: flex;
    border-radius: 10px;
  }
  
  .symbol-container {
    width: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
  }
  
  .symbol {
    font-size: 1.75rem;
  }
  
  .description-container {
    font-size: 1.05rem;
    margin: 15px 20px;
    width: 100%;
  }
  
  .description-title {
    font-weight: 700;
  }
  
  .symbol-close-link {
    margin-top:5px;
    margin-right: 10px;
    cursor: pointer;
  }