.dropdown-wrapper{

position: relative;

}
.dropdown-menu{
    min-width: 19rem;
    background-color: rgb(35, 31, 31);
    position: absolute;
    top: 120%;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow:hidden ;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: all .3s ease;
    
    


&.show-dropdown{
visibility: visible;
opacity: 0.9;
transform: translateY(0);
cursor: pointer;

}

}

    .dropdown-item{
        padding-top: 0.5rem;
        /*padding-bottom: 0.5rem;*/
        font-weight: bold;
        padding-left: 0.3rem;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: all .1s ease;
    color:var(--orangebackground);
    &:hover{
        background-color: #fad7b9

    }
 
    
.dropdown-item-2{
font-weight: 300;
padding-left: 1.3rem;
padding-bottom: 0.4rem;

&:hover
{
    background-color: antiquewhite;

}
}
    
    }
    








